* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto;
}

.forgot-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(230, 230, 218);
}

.forgot-password-heading {
    margin-bottom: 1em;
    color: black;
    font-family: Montserrat, sans-serif;
    font-size: 3em;
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 3em;
    border: 1px solid rgb(126, 97, 97);
    border-radius: 5px;
    width: 30%;
    max-width: 500px; /* Ensures form doesn't stretch too much on larger screens */
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(230, 230, 218);
}

.forgot-password-form input {
    padding: 0.75em;
    border: 2px solid #8b7979;
    border-radius: 5px;
    font-size: 1em;
    background-color: rgba(230, 230, 218, 0);
    transition: border-color 300ms, box-shadow 300ms;
}

.forgot-password-form input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(139, 121, 121, 0.5);
}

.forgot-password-form input:hover {
    border-color: #8b7979;
}

.forgot-password-form button {
    padding: 0.75em 1em;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.563);
    color: white;
    font-weight: bold;
    font-family: monospace;
    cursor: pointer;
    transition: background-color 300ms, transform 200ms;
}

.forgot-password-form button:hover {
    background-color: #8b7979;
    transform: translateY(-2px);
}

.forgot-password-options {
    margin-top: 1em;
    text-align: center;
}

.forgot-password-link {
    text-decoration: none;
    color: #8b7979;
    font-weight: bold;
    display: block; /* Makes links more accessible */
}
.email-phone{
    color: black;
    font-weight:700 ;
}

@media (max-width: 768px) {
    .forgot-password-form {
        width: 90%;
        padding: 2em;
        gap: 1em;
    }

    .forgot-password-heading {
        font-size: 2em; /* Adjust for smaller screens */
    }

    .forgot-password-form input, .forgot-password-form button {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .forgot-password-form {
        width: 90%; /* More responsive on very small screens */
    }
}
