*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y:auto;
}
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(230 230 218);
}
.loginHeading {
    margin-bottom: 1em;
    /* color: rgb(126, 97, 97); */
    color: black;
    font-family:Montserrat;
    font-size: 3em;
}
.login-form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 3em;
    border: 1px solid rgb(126, 97, 97);
    border-radius: 5px;
    width: 30%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(230 230 218);
}

.login-form input {
    padding: 0.5em;
    border: 2px solid #8b7979;
    border-radius: 5px;
    font-size: 1em;
    background-color: rgba(230, 230, 218, 0);
}

.login-form button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    /* background-color: #8dc3e2; */
    background-color: rgba(0, 0, 0, 0.563);
    color: white;
    font-weight: bold;
    font-family: monospace;
    cursor: pointer;
    transition: background-color 300ms;
    font-size: 1em;
}

.login-form button:hover {
    /* background-color: #0056b3; */
    background-color: #8b7979;
    color: white;
}

