@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: monospace;
}

.font-custom{
  font-family: "Montserrat";
  font-weight: 700;
}
.font-custom-bold{
  font-family: "Montserrat";
  font-weight: 800;
}
.font-custom-light{
  font-family: "Montserrat";
  font-weight: 500;
}
.font-custom-extralight{
  font-family: "Montserrat";
  font-weight: 300;
}


.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

